@import "Components/FilterableProductTable/ProductTable/ProductRow/ProductRow.scss";
@import "Components/FilterableProductTable/ProductTable/ProductCategoryRow/ProductCategoryRow.scss";

.custom-button {
    min-width: 128px;
    height: 64px;
    background-color: transparent;
}

.route-nav {
    display: block;
    width: 100%;
    &__item {
        display: inline-block;
        padding: 4px;
    }
}
